body{
    min-height: 500vw;
}

footer {
    width: 50%;
    height: 150px;
    background: #63dc3d;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    bottom: 0;
    left: 0;
  }
  
  
  footer p {  
    text-align: center;
    
    color: black;
    line-height: 1.5;
  }
  
  footer p img {  
    margin: 0 auto 0 auto;
    width: 32px;
    height: 32px;  
  }